<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.channelLinked.home.title">Channel Linkeds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-channel-linked" [routerLink]="['/channel-linked/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gatewayApp.channelLinked.home.createLabel">
            Create a new Channel Linked
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="channelLinkeds?.length === 0">
        <span jhiTranslate="gatewayApp.channelLinked.home.notFound">No channelLinkeds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="channelLinkeds && channelLinkeds.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.channelLinked.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="gatewayApp.channelLinked.idChannel">Id Channel</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let channelLinked of channelLinkeds ;trackBy: trackId">
                    <td><a [routerLink]="['/channel-linked', channelLinked.id, 'view']">{{ channelLinked.id }}</a></td>
                    <td>{{ channelLinked.name }}</td>
                    <td>{{ channelLinked.idChannel }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/channel-linked', channelLinked.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/channel-linked', channelLinked.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(channelLinked)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
